@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.nav-inner {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed;
}
.topnav {
  width: 100%;
  z-index: 100;
  position: relative;
  background: #00457b;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDU3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDcxYzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #00457b 0%, #0071c9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00457b), color-stop(100%, #0071c9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00457b 0%, #0071c9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00457b 0%, #0071c9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00457b 0%, #0071c9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00457b 0%, #0071c9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00457b', endColorstr='#0071c9', GradientType=0);
  /* IE6-8 */
}
.topnav #pull {
  color: #fff;
  width: 100px;
  height: 65px;
  outline: none;
  display: block;
  cursor: pointer;
  font-size: 11px;
  margin-left: 15px;
  line-height: 35px;
  position: relative;
  text-decoration: none;
  background: url("../img/topnav-btn.png") left center no-repeat;
}
.topnav .topnav-inner {
  display: none;
  padding: 10px 0;
  margin-left: 15px;
}
.topnav ul {
  display: block;
}
.topnav ul li {
  padding: 5px 0;
  line-height: 25px;
  font-weight: 300;
  display: block;
  text-transform: uppercase;
}
.topnav ul li a {
  color: #fff;
  text-decoration: none;
}
.topnav .work-time {
  top: 14px;
  left: 750px;
  color: #fff;
  display: none;
  font-weight: 300;
  line-height: 14px;
  position: absolute;
  font-family: 'Roboto', sans-serif;
}
.topnav .work-time span {
  height: 14px;
  display: block;
  font-size: 13px;
}
.topnav .work-time span b {
  font-weight: 700;
  text-transform: uppercase;
}
.topnav .contact {
  top: 4px;
  right: 10px;
  width: 140px;
  text-align: center;
  position: absolute;
}
.topnav .contact .phone {
  color: #fff;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
.topnav .contact .btn {
  width: 140px;
}
@media (min-width: 720px) {
  .topnav #pull {
    display: none;
  }
  .topnav .topnav-inner {
    display: block;
    margin-left: 0;
  }
  .topnav ul li {
    font-size: 12px;
    margin-right: 14px;
    display: inline-block;
  }
}
@media (min-width: 1024px) {
  .topnav ul li {
    font-size: 15px;
    margin-right: 18px;
    display: inline-block;
  }
  .topnav .work-time {
    display: block;
  }
}
/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #222;
  font-family: 'Roboto Condensed', sans-serif;
}
html {
  font-size: 1em;
  line-height: 1.3;
  background: url("../img/bg.png") top center repeat-y;
}
.container {
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (min-width: 720px) {
  .container {
    width: 710px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1020px;
  }
}
.block01 {
  height: 439px;
  padding-top: 65px;
  background: url("../img/block01_bg.jpg") top center no-repeat;
}
.block01 .box {
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
}
.block01 .box .box-white {
  color: #00477e;
  font: 17px/20px 'PT Sans', sans-serif;
  text-transform: uppercase;
  padding: 28px 10px 20px 10px;
  background: rgba(255, 255, 255, 0.9);
}
.block01 .box .box-white .logo {
  margin-bottom: 15px;
}
.block01 .box .box-white span {
  display: block;
  font-weight: 700;
}
.block01 .box .box-red {
  color: #fff;
  padding: 15px 25px;
  font: 17px/20px 'Roboto Condensed', sans-serif;
  background: rgba(172, 43, 55, 0.9);
}
@media (min-width: 720px) {
  .block01 {
    height: 380px;
  }
  .block01 .box {
    margin-left: 90px;
    margin-right: 90px;
  }
  .block01 .box .box-white {
    padding: 20px 25px;
  }
}
@media (min-width: 1024px) {
  .block01 {
    height: 439px;
  }
  .block01 .box {
    margin-left: 135px;
    margin-right: 135px;
    font: 25px/36px 'Roboto Condensed', sans-serif;
  }
  .block01 .box .box-white {
    padding: 20px 35px;
    font: 24px/32px 'PT Sans', sans-serif;
  }
}
.block02 {
  padding: 30px 0;
}
.block02 .top-box {
  display: none;
  height: 300px;
  font-weight: 300;
  text-align: justify;
  padding: 30px 0 10px 0;
}
.block02 .service li {
  width: 250px;
  padding: 1px;
  overflow: hidden;
  position: relative;
  margin: 0 auto 10px auto;
}
.block02 .service li h4 {
  left: 1px;
  right: 1px;
  bottom: 1px;
  width: 100%;
  color: #fff;
  height: 48px;
  display: table;
  font-size: 17px;
  margin-bottom: 0;
  position: absolute;
  background: rgba(0, 70, 124, 0.9);
}
.block02 .service li h4 span {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
@media (min-width: 720px) {
  .block02 .top-box {
    height: 250px;
    display: block;
    font-size: 14px;
    background: url("../img/block-top_sm.png") top center no-repeat;
  }
  .block02 .top-box .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .block02 .service li {
    float: left;
    margin: 0;
    width: 25%;
  }
  .block02 .service li h4 {
    height: 32px;
    font-size: 12px;
    line-height: 14px;
  }
  .block02 .service li.item5 {
    margin-left: 12%;
  }
}
@media (min-width: 1024px) {
  .block02 .top-box {
    height: 300px;
    font-size: 18px;
    background: url("../img/block-top_lg.png") top center no-repeat;
  }
  .block02 .top-box .container {
    padding-left: 70px;
    padding-right: 60px;
  }
  .block02 .service li h4 {
    height: 48px;
    font-size: 17px;
    line-height: 20px;
  }
}
.block03 {
  display: none;
  padding: 40px 0 30px 0;
  background: url("../img/03_bg.jpg") top center no-repeat;
}
.block03 h2 {
  color: #fff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
}
.block03 ul {
  width: 100%;
  display: block;
  padding-bottom: 32px;
}
.block03 li {
  float: left;
  width: 25%;
  height: 180px;
  color: #005497;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 40px 15px 0 15px;
  background: url("../img/03_item-bg-sm.png") top center no-repeat;
}
.block03 li span {
  color: #a21722;
}
@media (min-width: 720px) {
  .block03 {
    display: block;
  }
}
@media (min-width: 1024px) {
  .block03 li {
    height: 260px;
    font-size: 23px;
    padding-top: 64px;
    background: url("../img/03_item-bg.png") top center no-repeat;
  }
}
.block04 {
  padding: 60px 0;
}
.block04 .top-box {
  display: none;
  height: 300px;
  font-weight: 300;
  padding: 30px 0 10px 0;
}
.block04 .advantage {
  width: 300px;
  margin: 0 auto 30px auto;
}
.block04 .advantage li {
  width: 300px;
  height: 150px;
  display: table;
  margin-bottom: 20px;
}
.block04 .advantage li span {
  width: 100%;
  height: 100%;
  color: #00589d;
  font-size: 13px;
  line-height: 16px;
  padding-left: 110px;
  padding-right: 45px;
  display: table-cell;
  vertical-align: middle;
}
.block04 .advantage li.item1 {
  background: url("../img/04_item1.png") 0 0 no-repeat;
}
.block04 .advantage li.item2 {
  background: url("../img/04_item2.png") 0 0 no-repeat;
}
.block04 .advantage li.item3 {
  background: url("../img/04_item3.png") 0 0 no-repeat;
}
.block04 .advantage li.item4 {
  background: url("../img/04_item4.png") 0 0 no-repeat;
}
.block04 .advantage li.item5 {
  background: url("../img/04_item5.png") 0 0 no-repeat;
}
.block04 .service li {
  width: 250px;
  padding: 1px;
  overflow: hidden;
  position: relative;
  margin: 0 auto 10px auto;
}
.block04 .service li h4 {
  left: 1px;
  right: 1px;
  bottom: 1px;
  width: 100%;
  color: #fff;
  height: 48px;
  display: table;
  font-size: 17px;
  margin-bottom: 0;
  position: absolute;
  background: rgba(0, 70, 124, 0.9);
}
.block04 .service li h4 span {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
@media (min-width: 720px) {
  .block04 .top-box {
    height: 250px;
    display: block;
    font-size: 14px;
    background: url("../img/block-top_sm.png") top center no-repeat;
  }
  .block04 .top-box .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .block04 .advantage {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
  }
  .block04 .advantage li {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
  }
  .block04 .advantage li.item5 {
    margin-left: 170px;
  }
  .block04 .service li {
    float: left;
    margin: 0;
    width: 25%;
  }
  .block04 .service li h4 {
    height: 32px;
    font-size: 12px;
    line-height: 14px;
  }
  .block04 .service li.item5 {
    margin-left: 12%;
  }
}
@media (min-width: 1024px) {
  .block04 .top-box {
    height: 300px;
    font-size: 18px;
    background: url("../img/block-top_lg.png") top center no-repeat;
  }
  .block04 .top-box .container {
    padding-left: 70px;
    padding-right: 60px;
  }
  .block04 .advantage {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
  }
  .block04 .advantage li {
    margin-left: 15px;
    margin-right: 15px;
  }
  .block04 .advantage li.item4 {
    margin-left: 170px;
  }
  .block04 .advantage li.item5 {
    margin-left: 15px;
  }
  .block04 .service li h4 {
    height: 48px;
    font-size: 17px;
    line-height: 20px;
  }
}
.block05 {
  height: 388px;
  padding: 30px 0;
  overflow: hidden;
  background: url("../img/05_bg.jpg") top center no-repeat;
}
.block06 {
  display: none;
  padding-top: 45px;
  padding-bottom: 50px;
  background: #ffffff url("../img/06_bg.jpg") top center no-repeat;
}
.block06 h2 {
  color: #b51a28;
}
.block06 .quest {
  font-size: 18px;
  font-weight: 600;
  color: #b51a28;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.block06 .quest .quest-lead {
  font-size: 22px;
  font-weight: 700;
}
.block06 .problem {
  width: 100%;
}
.block06 .problem li {
  float: left;
  color: #fff;
  width: 136px;
  height: 117px;
  font-size: 11px;
  padding: 0 10px;
  line-height: 1;
  text-align: center;
  background: url("../img/06_item-m.png") top center no-repeat;
}
.block06 .problem li div {
  width: 100%;
  height: 100%;
  display: table;
}
.block06 .problem li span {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: table-cell;
  vertical-align: middle;
}
.block06 .problem li.item6 {
  margin-left: 90px;
}
.block06 .defective {
  margin-left: -5px;
  margin-right: -5px;
}
.block06 .defective li {
  float: left;
  width: 165px;
  margin: 0 5px;
  border: 3px solid #aa2c36;
}
@media (min-width: 720px) {
  .block06 {
    display: block;
  }
}
@media (min-width: 1024px) {
  .block06 .quest {
    font-size: 20px;
  }
  .block06 .problem li {
    width: 200px;
    height: 172px;
    font-size: 15px;
    padding: 0 15px;
    overflow: hidden;
    background: url("../img/06_item.png") top center no-repeat;
  }
  .block06 .problem li span {
    padding: 0 20px;
    overflow: hidden;
  }
  .block06 .problem.item6 {
    margin-left: 100px;
  }
  .block06 .defective li {
    float: left;
    width: 225px;
    margin: 0 5px;
  }
}
.block07 {
  display: none;
  padding: 20px 0 35px 0;
  background: url("../img/07_bg.jpg") top center no-repeat;
}
.block07 h2 i {
  font-style: normal;
  background: rgba(255, 255, 255, 0.8);
}
.block07 .advant {
  width: 100%;
}
.block07 .advant li {
  float: left;
  color: #fff;
  width: 136px;
  height: 117px;
  font-size: 10px;
  padding: 0 10px;
  line-height: 1;
  text-align: center;
  background: url("../img/07_item-m.png") top center no-repeat;
}
.block07 .advant li div {
  width: 100%;
  height: 100%;
  display: table;
}
.block07 .advant li span {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: table-cell;
  vertical-align: middle;
}
.block07 .advant li.item6,
.block07 .advant li.item15 {
  margin-left: 90px;
}
@media (min-width: 720px) {
  .block07 {
    display: block;
  }
}
@media (min-width: 1024px) {
  .block07 .advant li {
    width: 200px;
    height: 172px;
    font-size: 14px;
    line-height: 16px;
    padding: 0 15px;
    overflow: hidden;
    background: url("../img/07_item.png") top center no-repeat;
  }
  .block07 .advant li span {
    padding: 0 20px;
    overflow: hidden;
  }
  .block07 .advant.item6,
  .block07 .advant.item15 {
    margin-left: 100px;
  }
}
.block08 {
  padding: 30px 0;
}
.block08 .top-box {
  display: none;
  height: 300px;
  font-weight: 300;
  padding: 30px 0 10px 0;
}
.block08 .service {
  margin-bottom: 30px;
}
.block08 .service li {
  width: 250px;
  padding: 1px;
  overflow: hidden;
  position: relative;
  margin: 0 auto 10px auto;
}
.block08 .service li h4 {
  left: 1px;
  right: 1px;
  bottom: 1px;
  width: 100%;
  color: #fff;
  height: 48px;
  display: table;
  font-size: 17px;
  margin-bottom: 0;
  position: absolute;
  background: rgba(0, 70, 124, 0.9);
}
.block08 .service li h4 span {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.block08 .step {
  width: 205px;
  margin: 0 auto;
}
.block08 .step li {
  color: #fff;
  width: 205px;
  height: 181px;
  display: table;
  font-size: 16px;
  text-align: center;
  margin: 0 0 20px 0;
  background: url("../img/08_item-bg.jpg") 0 0 no-repeat;
}
.block08 .step li span {
  width: 100%;
  height: 100%;
  padding: 0 25px;
  display: table-cell;
  vertical-align: middle;
}
@media (min-width: 720px) {
  .block08 h2 {
    padding: 0 50px;
  }
  .block08 .top-box {
    height: 250px;
    display: block;
    font-size: 14px;
    margin-top: 20px;
    background: url("../img/block-top_sm.png") top center no-repeat;
  }
  .block08 .top-box .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .block08 .service {
    margin-bottom: 50px;
  }
  .block08 .service li {
    float: left;
    margin: 0;
    width: 25%;
  }
  .block08 .service li h4 {
    height: 32px;
    font-size: 12px;
    line-height: 14px;
  }
  .block08 .service li.item5 {
    margin-left: 12%;
  }
  .block08 .step {
    width: 687px;
  }
  .block08 .step li {
    float: left;
    width: 205px;
    height: 181px;
    display: table;
    font-size: 16px;
    text-align: center;
    margin: 0 12px 35px 12px;
  }
  .block08 .step li span {
    width: 100%;
    height: 100%;
    padding: 0 25px;
    display: table-cell;
    vertical-align: middle;
  }
}
@media (min-width: 1024px) {
  .block08 h2 {
    padding: 0 100px;
  }
  .block08 .top-box {
    height: 300px;
    font-size: 18px;
    margin-top: 60px;
    background: url("../img/block-top_lg.png") top center no-repeat;
  }
  .block08 .top-box .container {
    padding-left: 70px;
    padding-right: 60px;
  }
  .block08 .service {
    margin-bottom: 80px;
  }
  .block08 .service li h4 {
    height: 48px;
    font-size: 17px;
    line-height: 20px;
  }
}
.block09 {
  color: #fff;
  padding: 30px 0;
  background: url("../img/09_bg.jpg") top center;
}
.block09 h2 {
  color: #fff;
}
.block09 ul {
  width: 190px;
  margin: 0 auto;
}
.block09 ul li {
  width: 190px;
  height: 110px;
  display: table;
  font-size: 16px;
  margin: 0 0 35px 0;
}
.block09 ul li span {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 2px solid #acacac;
}
@media (min-width: 720px) {
  .block09 ul {
    width: auto;
    margin-left: -10px;
    margin-right: -10px;
  }
  .block09 ul li {
    float: left;
    width: 155px;
    height: 90px;
    font-size: 12px;
    margin: 0 10px 35px 10px;
  }
}
@media (min-width: 1024px) {
  .block09 ul {
    width: auto;
    margin-left: -10px;
    margin-right: -10px;
  }
  .block09 ul li {
    width: 215px;
    height: 125px;
    font-size: 16px;
    margin: 0 20px 50px 20px;
  }
}
.block10 {
  height: 385px;
  padding: 30px 0;
  background: url("../img/10_bg.jpg") top center no-repeat;
}
.block11 {
  padding: 40px 0;
}
.block11 ul {
  width: 300px;
  margin: 0 auto;
}
.block11 ul li {
  width: 300px;
  margin: 0 0 20px 0;
  padding: 0 9px 9px 9px;
  border: 1px solid #6b8eba;
}
.block11 ul li .title {
  height: 30px;
  color: #00589d;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
}
.block11 ul li .item {
  float: left;
  height: 100px;
  display: block;
  overflow: hidden;
  position: relative;
}
.block11 ul li .item span {
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  height: 22px;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.6);
}
.block11 ul li .item.do {
  width: 150px;
}
.block11 ul li .item.posle {
  width: 130px;
}
@media (min-width: 720px) {
  .block11 ul {
    width: auto;
    margin: 0 -5px 10px -5px;
  }
  .block11 ul li {
    float: left;
    width: 330px;
    margin: 0 10px 20px 10px;
  }
  .block11 ul li .title {
    font-size: 14px;
  }
  .block11 ul li .item {
    float: left;
    height: 110px;
  }
  .block11 ul li .item.do {
    width: 170px;
  }
  .block11 ul li .item.posle {
    width: 140px;
  }
}
@media (min-width: 1024px) {
  .block11 ul {
    width: auto;
    margin: 0 -10px 20px -10px;
  }
  .block11 ul li {
    float: left;
    width: 480px;
    margin: 0 15px 30px 15px;
    padding: 0 15px 14px 15px;
  }
  .block11 ul li .title {
    height: 50px;
    font-size: 21px;
    line-height: 50px;
  }
  .block11 ul li .item {
    height: 161px;
  }
  .block11 ul li .item span {
    height: 32px;
    font-size: 20px;
    line-height: 32px;
  }
  .block11 ul li .item.do {
    width: 243px;
  }
  .block11 ul li .item.posle {
    width: 205px;
  }
}
.block12 {
  display: none;
  padding: 60px 0;
  background: url("../img/12_bg.jpg") top center no-repeat;
}
.block12 ul {
  height: 240px;
  position: relative;
}
.block12 ul li {
  color: #fff;
  width: 125px;
  height: 123px;
  font-size: 10px;
  text-align: center;
  position: absolute;
}
.block12 ul li.item1 {
  top: 0;
  left: 0;
  padding-top: 70px;
  background: url("../img/12_item1m.png") 0 0 no-repeat;
}
.block12 ul li.item2 {
  top: 81px;
  left: 93px;
  padding-top: 60px;
  background: url("../img/12_item2m.png") 0 0 no-repeat;
}
.block12 ul li.item3 {
  top: 3px;
  left: 186px;
  padding-top: 60px;
  background: url("../img/12_item3m.png") 0 0 no-repeat;
}
.block12 ul li.item4 {
  top: 84px;
  left: 280px;
  padding-top: 60px;
  background: url("../img/12_item4m.png") 0 0 no-repeat;
}
.block12 ul li.item5 {
  top: 5px;
  left: 374px;
  padding-top: 60px;
  background: url("../img/12_item5m.png") 0 0 no-repeat;
}
.block12 ul li.item6 {
  top: 86px;
  left: 468px;
  padding-top: 60px;
  background: url("../img/12_item6m.png") 0 0 no-repeat;
}
.block12 ul li.item7 {
  top: 8px;
  right: 2px;
  padding-top: 60px;
  background: url("../img/12_item7m.png") 0 0 no-repeat;
}
@media (min-width: 720px) {
  .block12 {
    display: block;
    padding: 50px 0;
  }
}
@media (min-width: 1024px) {
  .block12 ul {
    height: 340px;
    position: relative;
  }
  .block12 ul li {
    color: #fff;
    width: 182px;
    height: 179px;
    font-size: 14px;
    text-align: center;
    position: absolute;
  }
  .block12 ul li.item1 {
    top: 0;
    left: 0;
    padding-top: 105px;
    background: url("../img/12_item1.png") 0 0 no-repeat;
  }
  .block12 ul li.item2 {
    top: 118px;
    left: 134px;
    padding-top: 90px;
    background: url("../img/12_item2.png") 0 0 no-repeat;
  }
  .block12 ul li.item3 {
    top: 7px;
    left: 272px;
    padding-top: 90px;
    background: url("../img/12_item3.png") 0 0 no-repeat;
  }
  .block12 ul li.item4 {
    top: 125px;
    left: 408px;
    padding-top: 90px;
    background: url("../img/12_item4.png") 0 0 no-repeat;
  }
  .block12 ul li.item5 {
    top: 13px;
    left: 544px;
    padding-top: 90px;
    background: url("../img/12_item5.png") 0 0 no-repeat;
  }
  .block12 ul li.item6 {
    top: 130px;
    left: 680px;
    padding-top: 90px;
    background: url("../img/12_item6.png") 0 0 no-repeat;
  }
  .block12 ul li.item7 {
    top: 16px;
    right: 2px;
    padding-top: 90px;
    background: url("../img/12_item7.png") 0 0 no-repeat;
  }
}
.block13 {
  height: 385px;
  display: none;
  background: url("../img/13_bg.jpg") 0 0 repeat-x;
}
.block13 .container {
  height: 100%;
  padding: 40px 0 30px 0;
}
.block13 .text-block {
  float: left;
  width: 400px;
}
.block13 h2 {
  color: #ac2b37;
  text-align: left;
  font-size: 25px;
}
.block13 ul li {
  color: #ac2b37;
  font-size: 16px;
  padding-left: 10px;
  margin-bottom: 20px;
  background: url("../img/list-arrow.jpg") 0 8px no-repeat;
}
@media (min-width: 720px) {
  .block13 {
    display: block;
  }
}
@media (min-width: 1024px) {
  .block13 .container {
    background: url("../img/13_girl.jpg") left bottom no-repeat;
  }
  .block13 .text-block {
    margin-left: 280px;
  }
}
.block14 {
  height: 500px;
  padding: 20px 0;
  background: url("../img/14_bg.jpg") top center no-repeat;
}
.block14 h2 {
  color: #fff;
}
.block14 h2 i {
  padding: 0 10px;
  font-style: normal;
  background: rgba(40, 27, 27, 0.7);
}
.block14 .slider-inner {
  width: 300px;
  margin: 0 auto;
  position: relative;
}
.block14 .slider {
  width: 220px;
  margin: 0 auto;
}
.block14 .slider li {
  float: left;
  width: 220px;
  height: 375px;
  padding: 18px;
  overflow: hidden;
  background: #fff;
}
.block14 .slider li .slide-image {
  width: 90px;
  height: 90px;
  overflow: hidden;
  margin-bottom: 15px;
}
.block14 .slider li .title {
  color: #4d555a;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 15px;
}
.block14 .slider li p {
  height: 195px;
  font-size: 12px;
  line-height: 13px;
  overflow: hidden;
}
.block14 .slider-nav {
  top: 50%;
  color: #fff;
  width: 29px;
  height: 52px;
  z-index: 100;
  cursor: pointer;
  margin-top: -26px;
  position: absolute;
}
.block14 .slider-nav.prev {
  left: -30px;
  background: url("../img/arrows.png") 0 0 no-repeat;
}
.block14 .slider-nav.next {
  right: -30px;
  background: url("../img/arrows.png") -29px 0 no-repeat;
}
@media (min-width: 720px) {
  .block14 .slider-inner {
    width: auto;
  }
  .block14 .slider {
    width: auto;
    margin: 0 20px 0 40px;
  }
  .block14 .slider li {
    margin-right: 20px;
  }
  .block14 .slider li p {
    font-size: 12px;
    line-height: 13px;
  }
  .block14 .slider-nav.prev {
    left: -40px;
  }
  .block14 .slider-nav.next {
    right: -20px;
  }
}
@media (min-width: 1024px) {
  .block14 .slider li p {
    font-size: 12px;
    line-height: 13px;
  }
}
.footer {
  color: #fff;
  font-size: 15px;
  padding: 20px 0;
  text-align: center;
  background: #00457b;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDU3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDcxYzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #00457b 0%, #0071c9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00457b), color-stop(100%, #0071c9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00457b 0%, #0071c9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00457b 0%, #0071c9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00457b 0%, #0071c9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00457b 0%, #0071c9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00457b', endColorstr='#0071c9', GradientType=0);
  /* IE6-8 */
}
.footer .container {
  height: 100%;
}
.footer .text {
  top: 5px;
  left: 0;
  display: none;
  font-size: 16px;
  position: absolute;
}
.footer .text span {
  color: #f03849;
}
.footer .text i {
  font-style: normal;
}
.footer .btn {
  margin: 8px auto;
  padding: 5px 30px;
  text-transform: uppercase;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 720px) {
  .footer {
    height: 110px;
  }
  .footer .text {
    height: 32px;
    display: block;
    line-height: 32px;
  }
  .footer .text i {
    margin-left: 10px;
  }
  .footer .btn {
    top: 0;
    right: 0;
    padding: 5px 10px;
    position: absolute;
  }
  .footer .copy {
    left: 0;
    bottom: 0;
    position: absolute;
  }
  .footer .dev {
    right: 0;
    bottom: 0;
    position: absolute;
  }
}
@media (min-width: 1024px) {
  .footer {
    height: 120px;
  }
  .footer .text {
    font-size: 23px;
  }
  .footer .text i {
    margin-left: 25px;
  }
  .footer .btn {
    padding: 5px 40px;
  }
}
.mb30 {
  margin-top: 30px;
}
.visible-m {
  display: block;
}
@media (min-width: 720px) {
  .visible-m {
    display: none;
  }
}
/* Form & Button
   ========================= */
.btn {
  margin: 0;
  color: #fff;
  border: none;
  outline: none;
  font-size: 13px;
  cursor: pointer;
  padding: 0 30px;
  font-weight: 300;
  position: relative;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  background: #e60015;
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  border-bottom: 2px solid #840814;
  text-shadow: 0px 1px 0px rgba(156, 15, 28, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn:hover {
  background-color: #bb0213;
}
.btn:active {
  top: 1px;
}
.btn.btn-md {
  font-size: 20px;
  line-height: 30px;
  padding: 5px 30px;
  border-bottom: 3px solid #840814;
}
.btn.btn-sm {
  font-size: 20px;
  line-height: 20px;
  padding: 5px 30px;
  border-bottom: 3px solid #840814;
}
.form-block {
  width: 290px;
  height: 330px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  background: url("../img/form-block.png") 0 0 no-repeat;
}
.form-block .title {
  height: 90px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  padding-top: 15px;
  text-align: center;
  margin: 0 -10px 30px -10px;
}
@media (min-width: 720px) {
  .form-block {
    margin: 0;
    float: right;
  }
}
.popup {
  width: 320px;
  background: #fff;
}
.popup .title {
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  background: #00457b;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDU3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDcxYzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #00457b 0%, #0071c9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00457b), color-stop(100%, #0071c9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00457b 0%, #0071c9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00457b 0%, #0071c9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00457b 0%, #0071c9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00457b 0%, #0071c9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00457b', endColorstr='#0071c9', GradientType=0);
  /* IE6-8 */
}
.popup .popup-content {
  padding: 30px 20px;
}
.form .form-group {
  position: relative;
  margin-bottom: 15px;
}
.form .form-group textarea,
.form .form-group input[type="text"] {
  width: 100%;
  outline: none;
  display: block;
  color: #3a434a;
  font-size: 16px;
  background: #fff;
  padding: 7px 10px;
  line-height: 20px;
  border: 1px solid #b7bbbf;
}
.form .form-group textarea:focus,
.form .form-group input[type="text"]:focus {
  border-color: #000;
}
.form .form-group .red textarea,
.form .form-group .red input[type="text"] {
  border-color: #af3b44;
}
.form .btn-sm {
  width: 100%;
  display: block;
}
/* Typography
   ========================= */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
h2 {
  color: #00589d;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
h2 span {
  display: block;
  font-weight: 300;
}
@media (min-width: 720px) {
  h2 {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 28px;
    line-height: 35px;
  }
}
h3 {
  color: #00589d;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
}
@media (min-width: 720px) {
  h3 {
    font-size: 20px;
    padding: 0 50px;
  }
}
@media (min-width: 1024px) {
  h3 {
    font-size: 28px;
    padding: 0 100px;
  }
}
h4 {
  font-size: 18px;
  line-height: 20px;
}
p {
  padding: 0;
  margin: 0 0 20px 0;
}
strong {
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
